:root {
  --body-color: #e4e9f7;
  --side-bar: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --red: red;
  --black: black;
  --card-color: #f8fbfe;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
.card1 {
  width: 190px;
  height: 500px;
  margin: 0 auto;
  background-color: var(--card-color);
  border-radius: 8px;
  z-index: 1;
  color: var(--black);
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red1 {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.card__content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.card__content .my-category ul {
  display: flex;

  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.card__content .my-category ul li {
  list-style: none;
  height: 100%;
  width: 100%;
}
.my-category ul li a {
  text-decoration: none;
  color: var(--black);
  transition: var(--tran-05);
  height: 100%;
  width: 100%;
}
.my-category ul li a:hover {
  background: var(--primary-color);

  border-radius: 6px;
}
.card__content h1 {
  transition: var(--tran-05);
}
.card__content h1:hover {
  text-align: center;
}
